.carFilterContainer{
    background-color: #d7d8da;
    border-radius: 15px;
}

.carInnerContainner{
    padding: 10px 5px;
}

.carControllerInnerContainner{
    padding: 10px 15px;
}

.showMoreLink{
    color: black;
    text-decoration: underline;
}

.applyButton{
    width: 190px;
    height: 37px;
    background-color: black;
    border-radius: 25px;
}

.clearButton{
    color: black;
    border: 1px solid #1d1d1e;
    width: 190px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
}

.filterStatistics{
    font-size: 16px;
    font-weight: 300;
}

.sortButton{
    border: 1px solid #737d84;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
}

.ascButton{
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
    border-right: none;
    border: 1px solid #aaa;
    width: 60px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
}

.descButton{
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    border: 1px solid #aaa;
    width: 60px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    background-color: #737d84;
}