.usedCarTitle {
    margin-top: 100px;
    /* font-family: sans-serif; */
    font-family: 1955 Bold;
    font-size: 46px;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 550;
}

/* 960 730 560 xl lg mid sm*/
@media (max-width:730px) {

    .title-730 {
        margin-top: 60px;
        font-size: 32px;
        font-weight: 520;
    }
}

@media (max-width:560px) {
    .title-560 {
        margin-top: 20px;
        font-size: 30px;
        font-weight: 520;
    }
}